BasedOnStyle: LLVM

BreakBeforeInheritanceComma: true

BreakConstructorInitializersBeforeComma: true

ColumnLimit: 256

CommentPragmas: "^!|^:"

SpaceAfterTemplateKeyword: false

BreakBeforeBinaryOperators: NonAssignment

BreakBeforeBraces: Custom

BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  IndentBraces: false

ConstructorInitializerIndentWidth: 4

ContinuationIndentWidth: 4

NamespaceIndentation: None

AlignAfterOpenBracket: DontAlign

AlwaysBreakTemplateDeclarations: Yes

AllowShortFunctionsOnASingleLine: Inline

SortIncludes: false

ForEachMacros: [ foreach, Q_FOREACH, BOOST_FOREACH, forever, Q_FOREVER, QBENCHMARK, QBENCHMARK_ONCE ]

BreakConstructorInitializers: BeforeColon

IndentCaseLabels: true

IndentWidth: 4

Cpp11BracedListStyle: false

# http://www.stroustrup.com/bs_faq2.html#whitespace
PointerAlignment: Left
PointerBindsToType: true

AccessModifierOffset: -4

...
