[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "lib/chillbuff"]
	path = lib/chillbuff
	url = https://github.com/rhythmize/chillbuff
[submodule "lib/jsmn"]
	path = lib/jsmn
	url = https://github.com/zserge/jsmn
[submodule "lib/checknum"]
	path = lib/checknum
	url = https://github.com/GlitchedPolygons/checknum
[submodule "lib/acutest"]
	path = lib/acutest
	url = https://github.com/mity/acutest
[submodule "lib/ed25519"]
	path = lib/ed25519
	url = https://github.com/GlitchedPolygons/GlitchEd25519
[submodule "lib/doxygen-awesome"]
	path = lib/doxygen-awesome
	url = https://github.com/GlitchedPolygons/doxygen-awesome-css.git
